<!-- <h1 id="first">GO</h1>
<h1 id="second">Gitters</h1>
<h1 id="third">Purple</h1>
<h1 id="fourth">Hippo</h1>

<button onclick="changeColors()">Start Rainbow</button>
 -->
<div id="markets"></div>
<button onclick="showMarkets()">Show Markets</button>