<!-- <div class="box" onclick="clickFive()"></div> -->
<div class="box box1" onclick="allThree(this)"></div>
<div class="box box2" onclick="allThree(this)"></div>
<div class="box box3" onclick="allThree(this)"></div>